extends layout
 
block content
  h1= title
  - let items = results
  .container-fluid
    a(class="btn btn-warning" href="/Elephant/create") Create
    div.row
      each Elephant, index in results
        div.col-sm-2(onclick=`buy(${index})`) #{Elephant.Elephant_type}
        div.col-sm-2(onclick=`buy(${index})`) #{Elephant.Elephant_Size}
        div.col-sm-2(onclick=`buy(${index})`) #{Elephant.Elephant_weight}
        button.btn.btn-primary.ml-1(onclick=`dispatch("/Elephant/update?id=${Elephant._id}")`) Update
        a.btn.btn-danger.ml-1(href=`/Elephant/delete?id=${Elephant._id}`) Delete
        a.btn.btn-secondary.ml-1(href=`/Elephant/detail?id=${Elephant._id}`) Details
        br
        hr
 
  script.
    function buy(index) {
      alert(`You purchased Item ${index + 1}`);
    }
    function dispatch(path) {
      window.location.href = path;
    }

        
        
        