extends layout

block content
  h1= title
  - var result=[{Elephant_type:"Asian Elephant",Elephant_Size:"Large",Elephant_weight:3000},{Elephant_type:"African Elephant",Elephant_Size:"Extra Large",Elephant_weight:2000},{Elephant_type:"African Bush Elephant",Elephant_Size:"Extra Large",Elephant_weight:2500}]
  div.container-fluid
    div.row  
      each Elephant,index in result 
       div.col-sm-2(onclick=`buy(${index})`) #{Elephant.Elephant_type}
       div.col-sm-2(onclick=`buy(${index})`) #{Elephant.Elephant_Size}
       div.col-sm-2(onclick=`buy(${index})`) #{Elephant.Elephant_weight}
       br
       hr
    script. 
        function buy(index)
        {
            alert(`you purchased Item ${index+1}`)
        }